<?xml version="1.0" encoding="utf-8"?>
<config>
    <clientconfig>
        <httpclient name="http_new" timeout="50" trynum="1">
        </httpclient>
    </clientconfig>

    <shmcacheconfig logpath="./doc_feature_cache" logprefix="shmcachelog">
        <shmcacheinfo name="doc_feature_shmcache">
            <file_name>./doc_feature_cache/shmcache</file_name>
            <max_memory>10000000000</max_memory>
            <min_memory>1000000</min_memory>
            <segment_size>1000000000</segment_size>
            <max_key_count>3000000</max_key_count>
            <max_value_size>256000</max_value_size>
            <hash_function>simple_hash</hash_function>
            <recycle_key_once>0</recycle_key_once>
            <recycle_valid_entries>true</recycle_valid_entries>
            <avg_key_ttl>5400</avg_key_ttl>
            <discard_memory_size>128</discard_memory_size>
            <max_fail_times>5</max_fail_times>
            <sleep_us_when_recycle_valid_entries>1000</sleep_us_when_recycle_valid_entries>
            <trylock_interval_us>200</trylock_interval_us>
            <detect_deadlock_interval_ms>1000</detect_deadlock_interval_ms>
            <expire>600</expire>
        </shmcacheinfo>
    </shmcacheconfig>

    <serverconfig>
        <serverport>:30000</serverport>
        <servername>engine</servername>
    </serverconfig>
</config>

