<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>newsThumbUrl</key>
	<string>http://114.116.40.17:8080/thumb</string>
	<key>newsDetailUrl</key>
	<string>http://localhost:8080/Web_Service_war_exploded/news/detail</string>
	<key>newsListUrl</key>
	<string>http://localhost:8080/Web_Service_war_exploded/news/list</string>
</dict>
</plist>
